{
    "influx_host": "",
    "influx_port": ,
    "influx_username": "",
    "influx_password": "",
    "influx_db": "",
    "wunderground_key": "",
    "update_frequency": ,
    "slackbot": {
        "api_token": "",
        "channel": ""
    }
}
